In [3]:
import pandas as pd
import numpy as np

In [30]:
'''создаём данные'''
data = pd.DataFrame()
data['вид'] = ['пёсель','киця','пёсель','пёсель','киця','киця','киця','пёсель']
data['Рост'] = [1,.3,.6,.97,.25,.2,.23,.5]
data['Вес'] = [20,6,10,18,5,3,4,8]
data['Длина хвоста'] = [.05,.2,.06,.1,.17,.18,.15,.15]
data

      вид  Рост  Вес  Длина хвоста
0  пёсель  1.00   20          0.05
1    киця  0.30    6          0.20
2  пёсель  0.60   10          0.06
3  пёсель  0.97   18          0.10
4    киця  0.25    5          0.17
5    киця  0.20    3          0.18
6    киця  0.23    4          0.15
7  пёсель  0.50    8          0.15

In [31]:
'''создаём пустую табличку, по которой будем делать предсказания'''
animal = pd.DataFrame()
animal['Рост'] = [.7]
animal['Вес'] = [25]
animal['Длина хвоста'] = [.20] 
animal

   Рост  Вес  Длина хвоста
0   0.7   25           0.2

In [44]:
'''считаем количество котиков и собачуль и всего'''
n_cat = data['вид'][data['вид'] == 'киця'].count()
n_dog = data['вид'][data['вид'] == 'пёсель'].count()
total_ppl = data['вид'].count()

In [33]:
'''часть котеев от всех'''
P_cat = n_cat/total_ppl

'''часть пёсь'''
P_dog = n_dog/total_ppl

In [46]:
'''считаем среднее значение'''
data_means = data.groupby('вид').mean()
data_means

          Рост   Вес  Длина хвоста
вид
киця    0.2450   4.5         0.175
пёсель  0.7675  14.0         0.090

In [35]:
'''считаем вероятности'''
data_variance = data.groupby('вид').var()

# View the values
data_variance

            Рост        Вес  Длина хвоста
вид
киця    0.001767   1.666667      0.000433
пёсель  0.064892  34.666667      0.002067

In [36]:
# среднее
cat_height_mean = data_means['Рост'][data_variance.index == 'киця'].values[0]
cat_weight_mean = data_means['Вес'][data_variance.index == 'киця'].values[0]
cat_tail_mean = data_means['Длина хвоста'][data_variance.index == 'киця'].values[0]

# вероятность
cat_height_variance = data_variance['Рост'][data_variance.index == 'киця'].values[0]
cat_weight_variance = data_variance['Вес'][data_variance.index == 'киця'].values[0]
cat_tail_variance = data_variance['Длина хвоста'][data_variance.index == 'киця'].values[0]

# среднее
dog_height_mean = data_means['Рост'][data_variance.index == 'пёсель'].values[0]
dog_weight_mean = data_means['Вес'][data_variance.index == 'пёсель'].values[0]
dog_tail_mean = data_means['Длина хвоста'][data_variance.index == 'пёсель'].values[0]

# вероятность
dog_height_variance = data_variance['Рост'][data_variance.index == 'пёсель'].values[0]
dog_weight_variance = data_variance['Вес'][data_variance.index == 'пёсель'].values[0]
dog_tail_variance = data_variance['Длина хвоста'][data_variance.index == 'пёсель'].values[0]

In [37]:
# собственно, теорема байеса
def p_x_given_y(x, mean_y, variance_y):
    p = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))
    return p

In [42]:
#тут считаем прогноз того, что животина - кот
P_cat * \
p_x_given_y(animal['Рост'][0], cat_height_mean, cat_height_variance) * \
p_x_given_y(animal['Вес'][0], cat_weight_mean, cat_weight_variance) * \
p_x_given_y(animal['Длина хвоста'][0], cat_tail_mean, cat_tail_variance)

8.6246889144310246e-80

In [43]:
#а тут, что собака
P_dog * \
p_x_given_y(animal['Рост'][0], dog_height_mean, dog_height_variance) * \
p_x_given_y(animal['Вес'][0], dog_weight_mean, dog_weight_variance) * \
p_x_given_y(animal['Длина хвоста'][0], dog_tail_mean, dog_tail_variance)

0.0042022164573517953

In [47]:
получается, что оно собака, я так и задумывала

SyntaxError: invalid syntax (<ipython-input-47-95a626d47c82>, line 1)